@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.LINE {
    display:flex;
    justify-content:center;
    width: 1px;
    height: 20px;
    background-color: rgb(227, 231, 230);
    margin: 9px 15px;
}
.topnavtext{
    margin: 0;
    padding: 0;
}
.cart-count-icon{
   transform: translate(-75%, -23%) !important;
}
.cart-image img{
    width:34px;
    height:34px;
}
.cart-number{
     font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.wishlist-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.search-input-wrapper {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.search-input-wrapper .form-control {
    padding-left: 42px;
    border-radius: 5px 0 0 5px;
}

.search-btn {
    border-radius: 0 5px 5px 0;
    background-color: green;
    color: azure;
}
.search-btn:hover{
    background-color: palegreen;
}
.search-btn:active{
background-color: aqua  !important;
}